<!DOCTYPE html>
<html>
	<body>
		<p>Hello {{subscriber.name}}! We have reason for you to celebrate today!</p>
		<p>Don't forget to wish these dear ones today!</p>
		<ul>
			{{#each events as |event|}}
				<li>
					{{#with event}}
						<b>
							{{#if event.year}}{{{ordinal event.yearsPassed}}} {{/if}}{{event.name}}
						</b>
						: {{{list event.eventees}}}
					{{/with}}
				</li>
			{{/each}}
		</ul>
		<p>Visit <a href="http://www.ameykamat.in">www.ameykamat.in/eventnotifier</a> for more!</p>
		<p>Feeling lucky? Wanna suggest Something? Shout out at <a href="mailto:amey@ameykamat.in">amey@ameykamat.in</a>
		<p>
		<b>Regards,</b>
		</p>
		<p>
			<b>Amey Kamat</b><br>
			Author, Event Notifier
		</p>
		<p>
			Email: <a href="mailto:amey@ameykamat.in">amey@ameykamat.in</a><br>
			<a href="http://www.ameykamat.in" target="_blank">Website</a> | <a href="http://www.ameykamat.in/blog" target="_blank">Blog</a><br><br>
			<a href="http://twitter.ameykamat.in" style="margin:1px"><img src="http://www.ameykamat.in/assets/img/social/tiny/twitter.png"></a>
			<a href="http://linkedin.ameykamat.in" style="margin:1px"><img src="http://www.ameykamat.in/assets/img/social/tiny/linkedin.png"></a>
			<a href="http://github.ameykamat.in" style="margin:1px"><img src="http://www.ameykamat.in/assets/img/social/tiny/github.png"></a>
		</p> 
	</body>
</html>